<%= form_for(@group_rule_detail) do |f| %>
  <% if @group_rule_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_rule_detail.errors.count, "error") %> prohibited this group_rule_detail from being saved:</h2>

      <ul>
      <% @group_rule_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :group_rule_id %><br>
    <%= f.number_field :group_rule_id %>
  </div>
  <div class="field">
    <%= f.label :rule_id %><br>
    <%= f.number_field :rule_id %>
  </div>
  <div class="field">
    <%= f.label :downloaded %><br>
    <%= f.check_box :downloaded %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
