<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @node_message_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @node_message_type.description %>
</p>

<p>
  <strong>Downloaded:</strong>
  <%= @node_message_type.downloaded %>
</p>

<%= link_to 'Edit', edit_node_message_type_path(@node_message_type) %> |
<%= link_to 'Back', node_message_types_path %>
