<div class="panel panel-default">
	<div class="panel-heading"><h2>Management Console</h2></div>
	<div class="panel-body">
		<p>
		  <%= link_to "Create new permissionviewrole", new_permissionviewrole_path, class: "btn btn-xs btn-success" %>
		</p>
		<div class="panel panel-primary">
			<!-- Default panel contents -->
			<div class="panel-heading"><h1>Listing all permissionviewroles</h1></div>
			<table class="table">
			  <tr>

				<th>id</th>

				<th>permissionview</th>

				<th>role</th>

			  </tr>
			  <% @permissionviewroles.each do |permissionviewrole| %>
				<tr>

				  <td><%= permissionviewrole.id %></td>

          <td><%= permissionviewrole.permissionview.name %></td>

          <td><%= permissionviewrole.role.name %></td>

				  <td><%= link_to 'Edit', edit_permissionviewrole_path(permissionviewrole), class: "btn btn-xs btn-primary" %> </td>
				  <td><%= link_to 'Delete', permissionviewrole_path(permissionviewrole), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-xs btn-danger" %></td>
				  <td><%= link_to 'Show', permissionviewrole_path(permissionviewrole), class: "btn btn-xs btn-warning"  %> </td>
				</tr>
			  <% end %>
			</table>
	</div>
</div>
