<p id="notice"><%= notice %></p>

<p>
  <strong>Permissionview:</strong>
  <%= @permissionviewrole.permissionview_id %>
</p>

<p>
  <strong>Role:</strong>
  <%= @permissionviewrole.role_id %>
</p>

<%= link_to 'Edit', edit_permissionviewrole_path(@permissionviewrole) %> |
<%= link_to 'Back', permissionviewroles_path %>
