<%= form_for(@group_rule) do |f| %>
  <% if @group_rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_rule.errors.count, "error") %> prohibited this group_rule from being saved:</h2>

      <ul>
      <% @group_rule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :client_id %><br>
    <%= f.number_field :client_id %>
  </div>
  <div class="field">
    <%= f.label :rule_type_id %><br>
    <%= f.number_field :rule_type_id %>
  </div>
  <div class="field">
    <%= f.label :rule_value %><br>
    <%= f.text_field :rule_value %>
  </div>
  <div class="field">
    <%= f.label :downloaded %><br>
    <%= f.check_box :downloaded %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
