<p id="notice"><%= notice %></p>

<h1>Listing Group Rules</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Client</th>
      <th>Rule type</th>
      <th>Rule value</th>
      <th>Downloaded</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @group_rules.each do |group_rule| %>
      <tr>
        <td><%= group_rule.name %></td>
        <td><%= group_rule.description %></td>
        <td><%= group_rule.client_id %></td>
        <td><%= group_rule.rule_type_id %></td>
        <td><%= group_rule.rule_value %></td>
        <td><%= group_rule.downloaded %></td>
        <td><%= link_to 'Show', group_rule %></td>
        <td><%= link_to 'Edit', edit_group_rule_path(group_rule) %></td>
        <td><%= link_to 'Destroy', group_rule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group rule', new_group_rule_path %>
