<div class="panel panel-default">
	<div class="panel-heading"><h2>Management Console</h2></div>
	<div class="panel-body">
		<p>
		  <%= link_to "Create new viewmenu", new_viewmenu_path, class: "btn btn-xs btn-success" %>
		</p>
		<div class="panel panel-primary">
			<!-- Default panel contents -->
			<div class="panel-heading"><h1>Listing all viewmenus</h1></div>
			<table class="table">
			  <tr>

				<th>id</th>

				<th>name</th>

				<th>description</th>


			  </tr>
			  <% @viewmenus.each do |viewmenu| %>
				<tr>

				  <td><%= viewmenu.id %></td>

				  <td><%= viewmenu.name %></td>

				  <td><%= viewmenu.description %></td>

				  <td><%= link_to 'Edit', edit_viewmenu_path(viewmenu), class: "btn btn-xs btn-primary" %> </td>
				  <td><%= link_to 'Delete', viewmenu_path(viewmenu), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-xs btn-danger" %></td>
				  <td><%= link_to 'Show', viewmenu_path(viewmenu), class: "btn btn-xs btn-warning"  %> </td>
				</tr>
			  <% end %>
			</table>
	</div>
</div>
