<div class="panel panel-default">
	<div class="panel-heading"><h2>Management Console</h2></div>
	<div class="panel-body">
		<p>
		  <%= link_to "Create new permissionview", new_permissionview_path, class: "btn btn-xs btn-success" %>
		</p>
		<div class="panel panel-primary">
			<!-- Default panel contents -->
			<div class="panel-heading"><h1>Listing all permissionviews</h1></div>
			<table class="table">
			  <tr>

				<th>id</th>

        <th>name</th>

				<th>permission</th>

				<th>viewmenu</th>

			  </tr>
			  <% @permissionviews.each do |permissionview| %>
				<tr>

				  <td><%= permissionview.id %></td>

          <td><%= permissionview.name %></td>

          <td><%= permissionview.permission.name %></td>

          <td><%= permissionview.viewmenu.name %></td>

				  <td><%= link_to 'Edit', edit_permissionview_path(permissionview), class: "btn btn-xs btn-primary" %> </td>
				  <td><%= link_to 'Delete', permissionview_path(permissionview), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-xs btn-danger" %></td>
				  <td><%= link_to '{child}', permissionview_path(permissionview), class: "btn btn-xs btn-warning"  %> </td>
				</tr>
			  <% end %>
			</table>
	</div>
</div>
