<div class="panel panel-default">
  <div class="panel-heading"><h2>Client: <%= @client.name %> Department: <%= @department.name %> Site: <%= @site.name %></h2></div>
	<div class="panel-body">
		<p>
		  <%= link_to "Create new iotonserver", new_iotonserver_path, class: "btn btn-xs btn-success" %>
		</p>
		<div class="panel panel-primary">
			<!-- Default panel contents -->
			<div class="panel-heading"><h1>Listing all iotonservers</h1></div>
			<table class="table">
			  <tr>

				<th>id</th>

				<th>name</th>

				<th>description</th>

				<th>downloaded</th>

			  </tr>
			  <% @iotonservers.each do |iotonserver| %>
				<tr>

				  <td><%= iotonserver.id %></td>

				  <td><%= iotonserver.name %></td>

				  <td><%= iotonserver.description %></td>

  			  <td><%= iotonserver.downloaded %></td>

				  <td><%= link_to 'Edit', edit_iotonserver_path(iotonserver), class: "btn btn-xs btn-primary" %> </td>
				  <td><%= link_to 'Delete', iotonserver_path(iotonserver), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-xs btn-danger" %></td>
          <td><%= link_to 'IoToN Nodes', iotonserver_path(iotonserver), class: "btn btn-xs btn-warning"  %> </td>
				</tr>
			  <% end %>
			</table>
	</div>
</div>
