<p id="notice"><%= notice %></p>

<h1>Listing Iotonservers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Site</th>
      <th>Downloaded</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @iotonservers.each do |iotonserver| %>
      <tr>
        <td><%= iotonserver.name %></td>
        <td><%= iotonserver.description %></td>
        <td><%= iotonserver.site_id %></td>
        <td><%= iotonserver.downloaded %></td>
        <td><%= link_to 'Show', iotonserver %></td>
        <td><%= link_to 'Edit', edit_iotonserver_path(iotonserver) %></td>
        <td><%= link_to 'Destroy', iotonserver, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Iotonserver', new_iotonserver_path %>
